.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  transition: 0.5s all ease;
  &.active {
    background-color: white;
    color: black;
    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }
  }
  .container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    .logo {
      font-size: 34px;
      font-weight: bold;
      //   .text {
      //   }
      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      span {
        white-space: nowrap;
      }
      button {
        color: white;
        background-color: transparent;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
      .user {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .options {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: 1px solid lightgrey;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid rgb(228, 227, 227);
  }
  .menu {
    width: 1200px;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}
