.catCard {
  width: 240px;
  height: 344px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  padding: 0 5px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cat {
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .title {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    top: 40px;
    left: 15px;
  }
}
